@import '../../styles/variables';

.card {
  box-shadow: $card-shadow;
  border-radius: 60px 0;
  padding: 30px 20px 30px 90px;
  max-width: 430px;

  &.interior {
    & h4:before {
      content: '';
      display: block;
      background-image: url('../../assets/icons/interior.svg');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 20px;
      left: -60px;
    }
  }

  &.architecture {
    background-color: $card-bg-color;

    & h4,
    & p {
      color: $card-color;
    }

    & h4:before {
      content: '';
      display: block;
      background-image: url('../../assets/icons/architecture.svg');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 20px;
      left: -60px;
    }
  }

  &.planning {
    & h4:before {
      content: '';
      display: block;
      background-image: url('../../assets/icons/planning.svg');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 20px;
      left: -60px;
    }
  }

  &__title {
    font-weight: $font-weight-700;
    font-size: $font-size-24;
    line-height: 78px;
    color: $title-color;
    position: relative;
  }

  &__text {
    font-weight: $font-weight-400;
    font-size: $font-size-18;
    line-height: 28px;
    color: $text-color;
    margin: 0;
  }
}