@import '../../styles/variables';
@import '../../styles/mixins';

.filter {
  @include adaptive-font(16, 11);
  border: $btn-filter-border;
  border-radius: 20px;
  background: $btn-filter-bg-color;
  color: $btn-filter-color;
  font-weight: $font-weight-700;
  width: 180px;

  &:hover {
    color: $btn-filter-hover-color;
    background: $btn-filter-hover-bg-color;
  }
}