@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  background-image: url('../../assets/images/dots2.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 85vh;
  margin-bottom: 144px;
}

.services {
  font-family: $font-open-sans;

  &__subtitle {
    @include adaptive-font(20, 14);
    font-family: $font-poppins;
    font-weight: $font-weight-600;
    color: $subtitle-color;
  }

  &__title {
    @include adaptive-font(48, 22);
    font-family: $font-poppins;
    font-weight: $font-weight-500;
  }
}

@media (max-width: 320px) {
  .container {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .container {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 90px;
  }
}
