$font-open-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$subtitle-color: #646464;
$title-color: #212121;
$text-color: #646464;

$nav-link-color: #212121;
$nav-link-border: 2px solid rgba(0, 0, 0, 0);
$nav-link-hover-color: #37806B;
$nav-link-hover-border: 2px solid #37806B;

$btn-color: #fff;
$btn-bg-color: #37806B;
$btn-bg-color-w: #fff;
$btn-hover-bg-color: #fff;
$btn-hover-color: #37806B;
$btn-border: 2px solid #37806B;
$btn-nav-border: 2px solid #CAA892;
$btn-nav-bg-color: #CAA892;
$btn-nav-hover-color: #CAA892;
$btn-filter-border: 5px solid #37806B;
$btn-shadow: -1px 3px 10px rgba(0, 0, 0, 0.6);

$card-shadow: 0 8px 20px rgba(0, 0, 0, 0.14);
$card-bg-color: #CAA892;
$card-color: #fff;
$card-bg-color-w: #fff;
$card-comment-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);

$img-after-border: 2px solid #B0855B;
$container-bg-color: #F8F8F8;