$font-open-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-48: 48px;
$font-size-72: 72px;

$subtitle-color: #646464;
$title-color: #212121;
$text-color: #646464;

$nav-link-color: #212121;
$nav-link-border: 2px solid rgba(0, 0, 0, 0);
$nav-link-hover-color: #37806B;
$nav-link-hover-border: 2px solid #37806B;

$btn-color: #fff;
$btn-bg-color: #37806B;
$btn-hover-bg-color: #fff;
$btn-hover-color: #37806B;
$btn-border: 2px solid #37806B;
$btn-nav-border: 2px solid #CAA892;
$btn-nav-bg-color: #CAA892;
$btn-nav-hover-color: #CAA892;
$btn-filter-color: #fff;
$btn-filter-bg-color: #37806B;
$btn-filter-border: 5px solid #37806B;
$btn-filter-hover-color: #37806B;
$btn-filter-hover-bg-color: #fff;

$card-shadow: 0 8px 20px rgba(0, 0, 0, 0.14);
$card-bg-color: #CAA892;
$card-color: #fff;
$card-bg-color-w: #fff;

$img-after-border: 2px solid #B0855B;