@import '../../styles/variables';

.container {
  background-image: url('../../assets/images/dots.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 85vh;
  margin-bottom: 144px;
}

.header {
  font-family: $font-open-sans;

  &__subtitle {
    font-family: $font-poppins;
    font-weight: $font-weight-600;
    font-size: $font-size-20;
    line-height: 27px;
    color: $subtitle-color;
  }

  &__title {
    font-family: $font-poppins;
    font-weight: $font-weight-600;
    font-size: $font-size-72;
    line-height: 78px;
    color: $title-color;
  }

  &__text {
    font-weight: $font-weight-400;
    font-size: $font-size-18;
    line-height: 30px;
    color: $text-color;
  }

  &__btn {
    display: block;
    width: 150px;
    border-radius: 20px 0;
    background-color: $btn-bg-color;
    border: $btn-border;
    color: $btn-color;
    font-weight: $font-weight-700;
    font-size: $font-size-18;
    line-height: 40px;

    &:hover {
      color: $btn-hover-color;
      background-color: $btn-hover-bg-color;
    }
  }

  &__img_block {
    position: relative;

    & img {
      border-radius: 140px 0;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 30px;
      left: 30px;
      border: $img-after-border;
      border-radius: 140px 0;
      z-index: -1;
    }
  }
}
