@import '../../styles/variables';

.navibar {
  font-family: $font-open-sans;

  &__btn {
    font-weight: $font-weight-600;
    font-size: $font-size-16;
    line-height: 22px;
    background-color: $btn-nav-bg-color;
    border-radius: 15px 0;
    color: $btn-color;
    border: $btn-nav-border;
    padding: 8px 20px;

    &:hover {
      color: $btn-nav-hover-color;
      background-color: $btn-hover-bg-color;
    }
  }

  &__link {
    font-weight: $font-weight-600;
    font-size: $font-size-16;
    line-height: 22px;
    color: $nav-link-color;
    border: $nav-link-border;
    border-radius: 15px 0;

    &:hover {
      color: $nav-link-hover-color;
      border: $nav-link-hover-border;
    }
  }
}

