@import '../../styles/variables';
@import '../../styles/mixins';

.navibar {
  font-family: $font-open-sans;

  &__btn {
    @include adaptive-font(16, 13);
    font-weight: $font-weight-600;
    background-color: $btn-nav-bg-color;
    border-radius: 20px 0;
    color: $btn-color;
    border: $btn-nav-border;
    padding: 5px 25px;

    &:hover {
      color: $btn-nav-hover-color;
      background-color: $btn-hover-bg-color;
    }
  }

  &__link {
    @include adaptive-font(16, 12);
    font-weight: $font-weight-600;
    color: $nav-link-color;
    border: $nav-link-border;
    border-radius: 15px 0;

    &:hover {
      color: $nav-link-hover-color;
      border: $nav-link-hover-border;
    }
  }
}

